<h1>Hello</h1>
<% if @items.empty? %>
<h2>No Items in Store</h2>
<% else %>
<table>
<tr>
	<th>Item id</th>
	<th>Name</th>
	<th>Price</th>
	<th>Description</th>
	<th></th>
</tr>
<% @items.each do |item| %>
<tr>
<td><%= item.id %></td>
<td><%= item.name %></td>
<td><%= item.price %></td>
<td><%= item.description %></td>
<td><%= link_to "Read more", item_path(item)%></td>
<td><%= link_to "Удалить", item_path(item), method: :delete, data: {confirm: "Вы уверены?"} %></td>
<td>Рейтинг:<%= item.votes_count %>, <%= link_to "+", upvote_item_path(item) %></td>
</tr>
<% end %>
</table>
<% end %>